
.card{
    .left{
        .circle{
            background-color:#F5F5F5;
            border-radius: 50%;
            width: 65px;
            height: 65px;
        }
    }

    .right{
        max-width: 270px;
    }
}